<p>categoria works!</p>
<hr>
<button class="btn btn-warning" (click)="mostrarForm('ver')">Insertar categoria</button>
<div id="formulario" *ngIf="mform == true">
    <form>
        <h1 *ngIf="botonesForm">Editar Categoria</h1>
        <div class="row">
            <div class="col-lg-4">
                <input type="text" id="nombre" placeholder="Nombre de la categoria" class="form-control" name="nombre"
                    [(ngModel)]="obj_categoria.nombre">
                <span class="error" *ngIf="validar_nombre == false">Ingrese el nombre de la categoria</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <input type="button" value="Guardar" class="btn btn-primary" style="width: 100%;" (click)="validarCategoria('guardar')" *ngIf="!botonesForm">
                    <input type="button" value="Editar" class="btn btn-primary" style="width: 100%;" (click)="validarCategoria('editar')" *ngIf="botonesForm" >
            </div>
            <div class="col-lg-3">
                <input type="button" value="Cancelar" class="btn btn-secondary" style="width: 100%;"
                    (click)="mostrarForm('ocultar')">
            </div>
        </div>
    </form>
</div>
<div id="tabla">
    <div class="table-responsive">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <table class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    <tr *ngFor="let item of categoria">
                        <td>{{item.nombre}}</td>
                        <td>
                            <span class="fas fa-edit" style="color: blue; cursor: pointer;" title="Editar" (click)="cargarDatos(item, item.id_categoria)"></span>
                            <span class="fas fa-minus-square" style="color: red; cursor: pointer;" title="Eliminar" (click)="eliminar(item.id_categoria)"></span>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>
</div>