<p>categoria works!</p>
<hr>
<button class="btn btn-warning">Insertar categoria</button>
<div id="formulario">

</div>
<div id="tabla">
    <div class="table-responsive">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <table class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    <tr *ngFor="let item of categoria">
                        <td>{{item.nombre}}</td>
                        <td>
                            <span class="fas fa-edit" style="color: blue; cursor: pointer;" title="editar"></span>
                            <span class="fas fa-minus-square" style="color: red; cursor: pointer;" title="borrar"></span>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>
</div>